.calendar-container {
  overflow-x: auto; /* Enable horizontal scrolling */
  max-width: 100vw; /* Set max width to the viewport width */
  display: flex;
  justify-content: center;
}

.fc {
  min-width: 600px; /* Minimum width of the calendar. Adjust as needed */
}
